body {
    font-family: 'Playfair Display', serif;
  }

    /* Hide the up and down buttons */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
